[2017-10-07 18:47] Ethan3600 opened #3 "Scheduling New Cron Job Saves Scheduled_At in UTC Timezone"
**Description**

When saving a _new_ Cron it saves the scheduled time in UTC time.

When viewing the dashboard you can see the cron is scheduled 4 hours ahead (store is in New York time zone).

But if go to the edit page for the cron job you made, open the calendar widget, and re-enter the same time it accurately displays in the dashboard, and runs at the requested scheduled time.

**Steps to Repr

[2017-10-12 02:33] #3 closed

[2017-11-21 13:02] juhanix opened #10 "Composer Package PHP7.1"
`Could not find package ethanyehuda/magento2-cronjobmanager at any version matching your PHP version 7.1.11.0`
Newest extension version (1.1.0) php: ~5.6.5|7.0.2|7.0.4|~7.0.6
Can you support PHP version 7.1?

Cheers,
Juhani

[2017-11-22 03:31] Ethan3600 commented on #10
Hi @juhanix, thanks for reporting this issue!

I added support for PHP v7.1 on composer.json in the new releases:

**v1.1.1** and **v0.2.1**

[2017-11-22 20:42] #10 closed, assigned to nobody

[2017-11-29 22:51] lfritsche opened #13 "Unable to resolve the source file for .../toolbar.html"
Hi @Ethan3600

I'm seeing the following error using Version 0.2.1 with Magento 2.1.5

[code]

Would be great, if you could help me regarding this issue.

Cheers

[2017-11-29 23:49] lfritsche commented on #13
Issue resolved by rebuilding static files again.

[2017-11-29 23:49] #13 closed, assigned to nobody

[2018-01-06 21:36] Ethan3600 opened #17 "Manage Cron Expressions"
Job Configurations should include the following features:

* Allows user to change the frequency of cron jobs (i.e. */5 * * * * to */15 * * * *)

    * Must include proper validations for cron expressions

* Allow users to enable/disable cron jobs

* Link to system configurations for cron jobs

[2018-01-06 21:38] Ethan3600 opened #18 "Email notifications When Cron Job fails"
Add a configuration to enter 1 or more email addresses to alert when a cron job fails

[2018-01-06 21:39] Ethan3600 opened #19 "Track processes on the OS"
* ~~Track PID of each cron job~~

* Ability to kill processes while they're running

[2018-01-06 21:41] Ethan3600 opened #20 "Create Cron Analysis Page"
* Displays useful information on cron jobs

    * longest lasting cron

    * most resource intensive

    * most frequently run cron

    * etc

[2018-01-06 21:41] Ethan3600 opened #21 "Create Mass Actions"
* Dispatch

* Delete

* Schedule Now

[2018-01-06 21:43] Ethan3600 opened #22 "Code Audit"
* Create unit tests

* Ensure code is PSR-2 compliant

* Audit performance

* Mitigate bottlenecks if any exist

[2018-01-06 21:45] Ethan3600 opened #23 "Clean Up Visualizer Component Code"
* lots of misnamed variables

* Probably don't need to extend the Magento OOB timeline component any more

* Find a way to simplify and improve

* Re-brand as visualizer

Prerequisite to issue #29

[2018-01-06 21:46] Ethan3600 opened #24 "Implement Editing Ui in Grid Widget"
Figure out if in-line editing is useful and easier to use

Implementation code already in place, but commented out

[2018-01-14 16:52] Ethan3600 opened #28 "Backport Pull Requests to 0.x"
Need to backport PRs:

* #25

* #26

* #27

* #30

* #31

[2018-01-15 00:48] Ethan3600 opened #29 "Create Timeline Feature"
## Objective:

Rebrand existing "timeline" as visualizer and create a new Timeline based on something like [Google charts api](https://developers.google.com/chart/interactive/docs/gallery/timeline)

The goal is to have a higher level perspective, over the visualizer, to gather a more granular view of cron jobs and where they are running.

[2018-02-19 20:16] Ethan3600 commented on #17
This issue has been resolved in PR #31

[2018-02-19 20:17] #17 closed, assigned to nobody

[2018-02-26 23:58] Ethan3600 opened #32 "Create Utility Cron Jobs"
Create Cron Jobs that are disabled by default that are useful for everyday use i.e.

* Full Reindex

* Cache flush storage

etc..

The goal is to expose common functionality that is not natively accessible.

A user should be able to schedule these processes based on a custom frequency, create a schedule for a one-time-run, or run "Schedule Now" so they can just run it immediately in the background

[2018-02-27 06:08] hanhpv commented on #29
This is exactly what's I'm looking for. Billion thanks for your great extension 👍

[2018-02-27 14:28] Ethan3600 commented on #29
@hanhpv it's coming!

[2018-03-04 22:23] Ethan3600 commented on #29
Possible options:

* https://github.com/commodityvectors/d3-timeline

* http://visjs.org/

* https://developers.google.com/chart/interactive/docs/gallery/timeline

[2018-03-05 02:15] #28 closed, assigned to nobody

[2018-03-18 20:41] #23 closed, assigned to nobody

[2018-04-01 22:22] Ethan3600 commented on #29
## Rough Draft Of (Potential) Custom Implementation

Rather than using a 3rd party library, I'm flirting with the idea of creating a UiComponent from scratch and building out a fully featured timeline component, taking advantage of all the knockout data binding features available. Below are some (very) rough draft work planning, and architectural outlining for the timeline component

I'd like to h

[2018-04-16 18:15] refueledinc opened #38 "Exception #0 (Exception): Notice: Undefined index: name"
On magento 2.2.3 when clicking on `Job Configuration` or `Select > edit` I get the below error:
[code]

[2018-04-16 18:48] refueledinc commented on #38
It seems the issue is somehow related to my disabling of one of magento's core modules:
[code]

[2018-04-16 18:53] refueledinc commented on #38
It appears related to the `Magento_Analytics` module being disabled

[2018-04-17 00:54] Ethan3600 commented on #38
Hi @refueledinc, thank you for reporting the issue and using the CJM.

I think I figured it out.

Magento_Analytics doesn't have cron expressions set by default:

![image](https://user-images.githubusercontent.com/6549623/38842310-3e86c7a4-41b7-11e8-81eb-2332e030b7db.png)

So when we grab the configuration information, php gets mad because we're assuming the index (in this case `schedule`) exists

[2018-04-17 02:31] Ethan3600 commented on #38
I think my original assessment was wrong, but consequently, I did find another (unrelated) undefined index exception...

Albeit, I am having difficulty reproducing the issue on v1.3.2. Probably should've asked this before I started debugging, but what version of the CJM are you using? What mode (i.e. production, default, developer) are you running Magento in?

Regardless, I should probably add som

[2018-04-17 10:01] refueledinc commented on #38
Hello thanks for the quick support. I'm using magento 2.2.3 in developer mode and version 1.3.2 of your extension. Although I just updated to 1.3.3 now. Cache clean/flush does not help.

[2018-04-17 10:05] refueledinc commented on #38
By the way, with quick testing, it seems version 1.3.3 fixes this issue.

[2018-04-17 12:06] Ethan3600 commented on #38
Cool! I'll close this out then.

If you have any other issues, please open another ticket.

[2018-04-17 12:06] #38 closed, assigned to Ethan3600

[2018-04-18 12:30] refueledinc opened #41 "Warning: sprintf(): Too few arguments"
While dispatching a failed cron, I received this error message.
Cron Manager 1.3.3
Magento 2.2.3, Developer mode

[code]

[2018-04-19 02:21] Ethan3600 commented on #41
@refueledinc thanks (again) for reporting the issue

Please upgrade to v1.3.4
Released some bug fixes to mitigate this issue.

Let me know if this does the trick

[2018-04-19 04:00] Ethan3600 commented on #29
Decided to go with the custom implementation.

Here's a sneak peak at the first working iteration:

![image](https://user-images.githubusercontent.com/6549623/38970603-71e12cd0-4364-11e8-9883-73c522b9e8e3.png)

Really excited to get this feature done!

[2018-04-19 10:24] refueledinc commented on #41
Yes, that appears to have fixed the issue. Thank you

[2018-04-19 10:24] #41 closed, assigned to Ethan3600

[2018-04-20 22:38] Ethan3600 opened #44 "Update README To Reflect Recent Changes"
Needs a face lift

[2018-04-21 00:33] benyang2015 opened #45 "how to mass delete the cron job about the status is success?"

[2018-04-21 02:43] Ethan3600 commented on #45
Hi @benyang2015 this is a duplicate of this issue: https://github.com/Ethan3600/magento2-CronjobManager/issues/21

Mass actions are in the pipeline, but I haven't started development on it yet. I'm willing to accelerate the process by placing it in the **priority to do** list. Please see [the pipeline](https://github.com/Ethan3600/magento2-CronjobManager/projects/1) for development details.

I'm g

[2018-04-21 02:43] #45 closed, assigned to nobody

[2018-04-23 00:50] hanhpv commented on #29
Really great work so far. Can’t wait to have this working. Big thank for your contribution.

[2018-04-23 01:21] Ethan3600 commented on #29
@hanhpv upgrade to v1.4.0 :wink:

Let me know what you think.

Going to close this issue; please open an issue if you spot anything.

Thank you for using the CJM!

[2018-04-23 01:21] #29 closed, assigned to nobody

[2018-04-30 00:19] #21 closed, assigned to nobody

[2018-04-30 00:19] #44 closed, assigned to nobody

[2018-04-30 00:20] Ethan3600 commented on #24
This is an annoying feature IMO. Going to close this for now

[2018-04-30 00:20] #24 closed, assigned to nobody

[2018-04-30 14:13] Jeroenll opened #50 "CData section too big when loading timeline"
Timeline won't load on our production servers, it generates:

[code]

[2018-04-30 14:52] Ethan3600 commented on #50
@JeroenVanLeusden I think this is a Magento bug: https://github.com/magento/magento2/issues/8084#issuecomment-335239220 BUT they _say_ it's fixed in v2.2.x (I'm very skeptical)...

What version of Magento are you running?

[2018-04-30 15:17] Jeroenll commented on #50
We're on 2.2.2, should be fixed in 2.2.3 so maybe there is no issue after we upgraded the webshop.

[2018-05-02 03:13] Ethan3600 commented on #50
@JeroenVanLeusden Not ready to give up investigating just yet!

I setup my local environment to be on version 2.2.2 and ran a large sql query to load a little over 10,000 crons in cron_schedule, and I loaded up the Timeline with no errors.

I tried this on production mode and developer mode; I'm using CJM v1.5.0, testing on Ubuntu 16.04 (doubt that the OS is the issue, but I figure it's worth ment

[2018-05-02 07:38] Jeroenll commented on #50
We consistently see this error, which makes me believe it might be a php configuration somewhere? We run the following:

- Ubuntu 16.04.1 LTS
- PHP 7.0.28-1
- max_execution_time => 18000
- max_file_uploads => 50
- max_input_nesting_level => 64
- max_input_time => 60
- max_input_vars => 10000
- memory_limit => 2048M

[2018-05-02 07:40] Jeroenll commented on #50
Just checked my `cron_schedule` and saw a whopping 170k records. After flushing them there are ~13k records.

The warning message disappeared but not my browser window is crashing trying to render the timeline.

[2018-05-02 12:43] Ethan3600 commented on #50
I don't think it's a PHP configuration. See this comment here: https://github.com/magento/magento2/issues/8084#issuecomment-306568076. I think by pulling 170k records through the uiComponent we're going way over the 10MB limit set by libxml.

I didn't account for the timeline to be able to support over 100k records. This is most definitely attributed to a Magento core bug: https://github.com/magen

[2018-05-03 09:48] edkoster opened #51 ""Schedule now""
Using version 0.4.0 on Magento 2.1.10 in production mode i get this error:

`[Tue May 01 15:11:14.275469 2018] [proxy_fcgi:error] [pid 3946] [client 87.213.39.106:16732] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught TypeError: Argument 1 passed to EthanYehuda\\CronjobManager\\Controller\\Adminhtml\\Config\\Job\\MassScheduleNow::__construct() must be an instance of Magento\\Framework\

[2018-05-03 11:30] Ethan3600 commented on #51
Good catch!  Would you mind opening a PR? I'll make a patch release after it gets merged in.

Thank you for using the CJM!

[2018-05-03 11:36] edkoster commented on #51
Thanks for your quick response.
I'll try to make some time for a pullrequest tomorrow.

[2018-05-03 14:22] Ethan3600 commented on #51
Awesome! Looking forward to it.

[2018-05-04 11:35] edkoster commented on #51
i've created https://github.com/Ethan3600/magento2-CronjobManager/pull/52

[2018-05-04 12:31] Ethan3600 opened #53 "Timeline Performance Slows Down After ~2k records"
The timeline seems to slow down after hitting around 2k records in cron_schedule.

Wild guess: This is likely due to all the subscribers KO has for each binding

The goal of this Issue is to resolve problems with speed, and the amount of records we can handle in the timeline.

There should be a "max" number of records we support because there's an argument that you shouldn't have over a certain am

[2018-05-04 14:54] Jeroenll commented on #53
Might be an idea: Load jobs of last 12/24h and use those in the timeline instead of all jobs?

[2018-05-05 02:27] Ethan3600 commented on #51
I made a release for v1.5.1 and v0.4.1 to mitigate this issue. I'll go ahead and close this out, but feel free to comment if the error persists.

Thank you for your contribution @edkoster!

[2018-05-05 02:27] #51 closed, assigned to nobody

[2018-05-05 02:48] Ethan3600 commented on #53
@JeroenVanLeusden good idea. I wouldn't be opposed to making that a setting, but I think the JS needs a little work too.

Ideally, we should be able to update the layout relatively quickly regardless of the amount of records we stuff into it. I want to dig deeper and figure out what is causing the "jankyness"

[2018-05-05 14:08] Ethan3600 commented on #53
Did a little digging last night and found out something interesting:

I think one of the culprits to the jankyness is attributed to tooltip.js

In the below call tree, you can see we're spending 34% of the time within toolip.js's init() method defined here: https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/tooltip.js#L723

![image](http

[2018-05-05 22:58] Ethan3600 commented on #53
So... to my dismay, the CSS tooltip didn't help much.  It somehow made it worse! I'm starting to think that KnockoutJs just can't handle iterating over large data sets, which would require us to really limit the amount of crons we can load in the timeline. Not ideal.

But... there is some sliver of hope:
http://output.jsbin.com/dakihezega/2

There's a plugin called "fastForEach" (which is luckily

[2018-05-06 20:15] Ethan3600 commented on #53
Sorry for blowing up the thread (having too much fun here), but I was totally wrong.

The issue wasn't the tooltip... it was the `render` attribute, which is a wrapper for KO's `template` binding. Also, KO's `template` was overridden by Magento to ["support asynchronous loading of templates"](https://devdocs.magento.com/guides/v2.1/ui_comp_guide/concepts/knockout-bindings.html#template)

This slow

[2018-05-07 00:12] Ethan3600 commented on #53
So, we can comfortably load over 4k records with little to no jankyness. We can even push it to 6k with a little lag.

Moreover, I was able to load **16768 records** without crashing my browser (albeit, really slowly). To test anything more than that isn't worth it because it's arguable that 16k is considered "unhealthy"

I'd say, this is a tiny victory, but there just doesn't seem like a way we c

[2018-05-14 02:53] Ethan3600 commented on #53
@JeroenVanLeusden I created a new release (v1.6.1) that will speed up the timeline tremendously, and give it the ability to handle more records.

While I did not include the filter you suggested earlier, I felt like this latest performance boost in combination with [this new feature](https://github.com/Ethan3600/magento2-CronjobManager/pull/57), we _should not_ face the issues you described in iss

[2018-05-14 02:53] #53 closed, assigned to nobody

[2018-05-31 09:49] shayzalman opened #64 "After installation, the static files are not being built correctly 404"
Hi Ethen
The module looks great!!

I get this issue:
After installation, the static files are not being built correctly.
**Its building:**
pub/static/adminhtml/Magento/backend/en_US/EthanYehuda_CronjobManager/template..
**and looking for:**
pub/static/adminhtml/Magento/backend/en_US/cronjobManager/template..

I get 404 on the html requests

[2018-05-31 12:35] Ethan3600 commented on #64
Hi @joomi thank you for using the CJM!

Can you give me some more details?

* What version of Magento and the CJM are you using?

* What commands are you using to create static content?

    * guessing this: `php bin/magento setup:static-content:deploy -t Magento/backend` but want to be sure

* What mode is Magento in? Developer or Production?

[2018-05-31 14:06] shayzalman commented on #64
Hi
The Magento ver. is .2.2.2
I'm on developer mode (getting the same 404 error before try to deploy static-content)
After running php bin/magento setup:static-content:deploy -t Magento/backend (getting 404)
(renaming the folder manually solved the problem, and I could see the module running)

[2018-06-04 01:51] Ethan3600 commented on #64
I'm having a hard time reproducing this.

Do you have anything outside the ordinary configuration that could cause this? (kind of a shot in the dark)

What version of the Cron Job Manager are you using?

Modifications to .htaccess? URL rewrites? Custom code?

Does this happen on a clean install of Magento 2.2.2? (that's the environment I'm working in)

What happens if you `rm -rf pub/static/adminh

[2018-06-14 12:20] Ethan3600 commented on #64
@joomi I'm going to close this issue since I haven't got a response in a while.  Feel free to comment on it, and I'll reopen.

[2018-06-14 12:20] #64 closed, assigned to nobody

[2018-08-01 10:37] Superheld opened #67 "Cron stop working after installation"
First, I could not longer login to my backend. Error was: `Class Magento\\Framework\\Stdlib\\Cookie\\PublicCookieMetadataFactory does not exist`

I fixed that with flushing var/generation and a `magento setup:di:compile`

After that i could login to the backend but now all tasks, scheduled for execution after installation-time are still open (seen in the database). If i want to see the  list in my

[2018-08-01 12:49] Ethan3600 commented on #67
Hi @Superheld thanks for using the CJM!

The first red flag here is when you say "var/generation," which makes me think you're using Magento 2.1.x. The CJM used to support Magento 2.1.x in the earlier versions (0.x releases), but **no longer does**.

The other red flag is when you say "but the timetable and -frame still loading infinty," which makes me think you're using v1.x of the CJM.  _Only v0

[2018-08-01 13:07] amelojunior commented on #50
@Ethan3600 This is related to the issue #65 ?
I have the same problem in version 2.2.5
![image](https://user-images.githubusercontent.com/2227000/43523413-b0adc5a8-9572-11e8-8a18-54f391e1001a.png)

[2018-08-01 13:24] Ethan3600 commented on #50
Yep. Is that still happening on the latest version? I [hardcoded a limit](https://github.com/Ethan3600/magento2-CronjobManager/pull/65/files#diff-118720a4e111bfcf875846f38b028663R10) to the amount of crons hoping it'll be low enough so we don't see this error.

[2018-08-01 13:36] Superheld commented on #67
We are using 2.2.4, i had to tell you this, right.

I checked now the situation. Seems only the listing-problem left, all other stuff looks normal at this time.

[2018-08-01 13:40] Ethan3600 commented on #67
I should probably have a template or something for issues. No worries.

What version of the CJM are you using?

Can you elaborate on the "listing-problem"?

Please provide some steps to reproduce and maybe some screenshots (please :) ).

[2018-08-01 13:58] amelojunior commented on #50
@Ethan3600 The problem is not really related to the module, but a problem with clearing the cron history.
The store was over 100k records.
Thank you very much for your attention.

[2018-08-01 14:50] Ethan3600 commented on #50
Hmm. I was able to reproduce this by loading over 100k crons in the timeline. Are you sure it has to do with clearing the cron history? I was under the assumption that we're just loading too much crons in the timeline (hence the limit)

[2018-08-01 17:48] amelojunior commented on #50
Yes, exactly, but the magento "core" should not accumulate more than 100,000 crons without cleaning automatically.
And on the other hand the CronjobManager even with the last patches, could not limit the lines I guess..

[2018-08-04 16:32] Ethan3600 commented on #67
Since I haven't heard a response in three days, I assume this issue is resolved. Please feel free to comment if you're still experiencing issues.

[2018-08-04 16:32] #67 closed, assigned to nobody

[2018-08-04 16:51] Ethan3600 commented on #50
@amelojunior agreed; this behaviour is due to a Magento core bug. However, we do have control as far as the _amount_ of records that are loaded into the timeline. We're simply querying the database with a limit.

This, unfortunately, was a lazy solution on my part. The real problem is [described in this comment](https://github.com/magento/magento2/issues/8084#issuecomment-306568076).

We're not al

[2018-08-08 10:32] kerlama opened #68 "Issue with timeline when there are no jobs"
Hi,

its likely to happen, but when there are no jobs timeline is messed up:

http://prntscr.com/kg4s67

Ivan

[2018-08-08 12:25] Ethan3600 commented on #68
Thanks for using the CJM and reporting this bug!

I'm able to reproduce this and I'll  have a fix for it in the next release.

Probably just needs a message saying "There's no cron jobs in Magento"

[2018-09-18 19:10] kirkmadera commented on #64
I am running into this also in Production mode. We have run into similar issues before and think this is due to production mode not respecting the "[paths](https://requirejs.org/docs/api.html#config-paths)" key in requirejs config. I am running Magento 2.2.5.

This is the error in the console:
`[2018-09-18 03:06:21] [ERROR] Failed to load the "cronjobManager/timeline/timeline" template requested b

[2018-09-18 23:37] kirkmadera opened #70 "_module.css 404 in Production mode"
When running in Production mode. a 404 response is shown in the network console that _module.css could not be included. This is because the less is not compiled on the fly into the css file. Instead, production mode imports all _module.less files from modules into the main styles.css file. In developer mode, this file is also included by default. The css include in layout is unnecessary in develop

[2018-09-28 17:04] Ethan3600 commented on #70
Fixed in v1.6.3

[2018-09-28 17:04] #70 closed, assigned to Ethan3600

[2018-09-28 17:05] Ethan3600 commented on #68
fixed in v1.6.3

[2018-09-28 17:05] #68 closed, assigned to Ethan3600

[2018-09-28 17:06] Ethan3600 commented on #64
Fixed in v1.6.3

[2018-10-11 06:57] rohitkrjaiswal opened #75 "Ethan3600/magento2-CronjobManager"
hi;
i had created new cron on localhost under add new cron , and i have scheduled under job configuration for every 1 min ,
in that module there is a code to print in the logger in every 1 min,but the scheduler to dont run.
and if i use dispatch now then it runs only once.
let me know how to run for every min on localhost.

Thanks.

[2018-10-14 18:54] Ethan3600 commented on #75
I'm struggling to understand what the issue is. It sounds like your crontab configurations aren't setup?
Are other crons running?

The dispatch button is supposed to run the cron immediately, so that's expected.

Just to clarify what the "add" button does, it just adds an _existing_ cron job to the queue.

One way to check if your crons are running is to look on the timeline. Maybe all crons aren'

[2018-10-15 04:02] jeffwhitfield opened #76 "Timeline not working in Safari 12"
Just installed this extension for testing. So far, so good.  :D However...

Appears the Timeline feature doesn't work in the latest versions of Safari on MacOS Mojave. Works great in Chrome though. In Safari, none of the bars show up...just the rows showing the name of the tasks followed by a grey bar. So...something is askew! :P

[2018-10-16 12:28] Ethan3600 commented on #76
Hi @jeffwhitfield. Thanks for using the CJM

I'll admit, I did 100% of my development on Firefox.

Thanks for logging this bug!

[2018-10-16 14:57] jeffwhitfield commented on #76
When I have time I’ll see what I can do to help fix it. :D

[2018-10-23 13:36] Ethan3600 commented on #75
@rohitkrjaiswal I'm going to close this issue since I haven't heard from you. Please feel free to comment again and I'll re-open!

[2018-10-23 13:36] #75 closed, assigned to nobody

[2018-11-29 12:30] peterjaap opened #79 "Magento 2.3 compatibility?"

[2018-11-29 13:53] Ethan3600 commented on #79
I think someone tested it out and made a PR: https://github.com/Ethan3600/magento2-CronjobManager/pull/78

I'm trying to find time to test it myself, but I intend to support Magento 2.3

[2018-11-30 08:58] itris opened #80 "PHP 7.2 compatibility"
All current versions of this extension have this restraint; "php": "~7.0.0|~7.1.0",.

Do you have any idea when this extension will be PHP 7.2 compatible or maybe it is, but it hasn't been tested yet?

[2018-11-30 13:51] Ethan3600 commented on #80
Just needs to be tested.

[2018-12-02 00:30] Ethan3600 commented on #79
Aiming for magento 2.3 support in the upcoming release v1.6.4!

I'll close this out when I make the release

[2018-12-02 21:29] Ethan3600 commented on #79
Please upgrade to v1.6.4 for Magento 2.3 support. Going to close this out. If you run into any problems, please don't hesitate to create an issue.

Thanks for using the Cron Job Manager!

[2018-12-02 21:29] #79 closed, assigned to nobody

[2018-12-02 21:32] Ethan3600 commented on #80
Please upgrade to v1.6.4 for support for PHP 7.2. Going to close this ticket out.

After testing, I found that all functionality seems to be working as expected, so I just updated composer.json.

If you have any problems please don't hesitate to create an issue.

Thanks for using the Cron Job Manager!

[2018-12-02 21:32] #80 closed, assigned to nobody

[2018-12-02 21:55] Ethan3600 opened #83 "REST Api Integration Feature"
I'd like the Cron Job Manager to expose a REST Api so third parties can manipulate and keep track of the Crons in Magento.

Maybe even a GraphQl API?

[2018-12-02 21:57] pmclain commented on #83
If you aren’t already planning to do this yourself, I’m up for assisting.

[2018-12-03 14:07] Ethan3600 commented on #83
That'd be pretty awesome @pmclain !

[2018-12-04 12:40] peterjaap commented on #79
:+1: LGTM

[2018-12-13 13:11] pmclain commented on #83
@Ethan3600 Here's a first pass at the service contracts and API endpoints https://github.com/pmclain/magento2-CronjobManager/commit/942b7c84c49b0c40e0cdf7ccd625c6c6d7f81f79

The lack of [get|set]ters for data properties in `\Magento\Cron\Model\Schedule` means the class cannot be accepted or returned by Magento's API resolvers :(. To work around this, I added a data interface for `Schedule` and use

[2018-12-16 19:58] Ethan3600 commented on #83
@pmclain this looks like a good plan. Just be cautious about nullable types. We still support PHP 7.0, so that'll break compatibility. Example: https://github.com/pmclain/magento2-CronjobManager/commit/942b7c84c49b0c40e0cdf7ccd625c6c6d7f81f79#diff-d6b799b972262a75352441f3573c37b5R25

I get that we're using adapters so that we can return an instance of `\EthanYehuda\CronjobManager\Api\Data\Schedule

[2018-12-21 13:55] pmclain commented on #83
But why? :) I'll update.

Objects returned by the API are more or less the output of the object's public getters. Magento looks at an object with method `getScheduleId` and returns an object with the property `schedule_id`. These public methods are also parsed when generating the swagger documentation `http://<magento_host>/swagger`. `\Magento\Cron\Model\Schedule` does not explicitly define any ge

[2018-12-21 14:54] Ethan3600 commented on #83
I'm a little hesitant since some people may still use PHP 7.0 for Magento 2.2 since Magento still supports it: https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html#php

RE API: Ok, this makes sense! Funny how that works.

[2018-12-22 13:56] jmpedrosa opened #86 "Duplicated cron jobs"
Hi I'm running your extention over Magento 2.2.3 and the jobs schedules are being duplicated, check the scheduled date below.

![cronjobs](https://user-images.githubusercontent.com/8169003/50375162-c30c9500-05d7-11e9-9496-c36eddecd939.png)

In this particular case (sales_send_order_emails) I've modified the execution frecuency to every five minutes (*/5 * * * *)

 This issue is causing emails bein

[2018-12-26 22:11] Ethan3600 commented on #86
Hi @jmpedrosa this seems like this is more likely a Magento bug.

The dashboard only **displays** what's in the `cron_schedule` table. It doesn't edit or alter the scheduling mechanism. Do you have some steps to help me reproduce this?

Thanks for using the CJM!

[2019-01-06 22:04] Ethan3600 commented on #86
Going to close this out due to lack of response. Feel free to comment and I'll open the issue again!

[2019-01-06 22:04] #86 closed, assigned to Ethan3600

[2019-01-06 22:08] Ethan3600 commented on #83
Closing this issue. See #87

[2019-01-06 22:08] #83 closed, assigned to nobody

[2019-01-07 10:42] sprankhub commented on #18
Thanks for this extension! However, I will use another extension for now, because this feature is missing. IMHO, it is a must-have.

[2019-01-07 15:02] digikeijs opened #89 "After updating through composer not able to compile anymore"
Parse error:  syntax error, unexpected '?' in /data/web/current/vendor/ethanyehuda/magento2-cronjobmanager/Model/ScheduleManagement.php on line 100

[2019-01-07 15:23] jmpedrosa commented on #86
Hi Ethan, sorry I didn't reply earlier. Yes, it turns out, this is a bug in magento. Thank you for your time!

[2019-01-08 03:30] #89 closed, assigned to Ethan3600

[2019-01-08 03:58] Ethan3600 commented on #89
Thank you @digikeijs for reporting this bug! We have resolved the issue in the [new release: v1.7.1](https://github.com/Ethan3600/magento2-CronjobManager/releases/tag/v1.7.1)

Please upgrade to the latest version of the CJM.

[2019-02-01 19:02] kyriog opened #91 "cronmanager:runjob doesn't initialize using store 0"
**Describe the bug**
When a cron is run using `bin/magento cronmanager:runjob <cronjob>`, the cron starts as the first store view of the default website.
This is inconsistant with the default cron `bin/magento cron:run` which starts with the admin store view.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any `bin/magento cronmanager:runjob <cronjob>` using xdebug
2. When execution reac

[2019-02-02 10:15] GraysonChiang opened #92 "Doesn't work at 2.2.7"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2019-02-03 02:30] Ethan3600 commented on #92
Hi @GraysonChiang, thank you for using the CJM.

What specifically doesn't work?
Are there any error messages? How can I reproduce this issue?

Can you please follow the instructions of the bug template? Saying something "doesn't work" isn't helpful.

I'm going to close this ticket. Please create a new one with the necessary details provided by the template, or a clear set of instructions on how t

[2019-02-03 02:30] #92 closed, assigned to nobody

[2019-02-03 02:36] Ethan3600 commented on #91
Hi @kyriog, thank you for using the CJM!

I wonder if switching the const [here](https://github.com/Ethan3600/magento2-CronjobManager/blob/1.x/Console/Command/Runjob.php#L67) to [this](https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/App/Area.php#L22) will help.

Essentially making the "area" equal to "crontab."

Can you try it out?

[2019-02-04 11:16] kyriog commented on #91
Unfortunately, it doesn't work.

The reason of this is because `Magento\Store\Model\StoreManager::$currentStoreId` is set by the `getStore()` method, which is called by Runjob first method, `$this->managerFactory->create()`.

I've tried to move the `setAreaCode()` on top of the execution,  but the store ID is still set to 1 when the managerFactory is used.

I continue my investigations.

[2019-02-04 11:34] kyriog commented on #91
I've just found [this odd passage](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Cron/Console/Command/CronCommand.php#L97-L100) in M2 source code:
[code]

I've tried to apply these parameters to `managerFactory` new object instantiation, and this time current store ID is correctly set to 0.

I'll investigate if there could have any side effect with the `DateTimeFactory`.

I

[2019-02-04 14:31] kyriog commented on #91
Okay, let me try to explain what I've found.

Firstly, I investigate on where does the `$this->runMode` and `$this->scopeCode` came from.
It seems they're set directly in `Magento\Store\Model\StoreResolver` dependency injection:
[code]

I analyzed this point from the core cron command view. This object is instantiated twice:
* First with `$runMode = "store"` and `$scopeCode = null` which come from

[2019-02-09 10:57] schmengler opened #94 "Timeline as Grid"
**Is your feature request related to a problem? Please describe.**
The timeline view is a nice overview but I'd like to see more details. Also depending on the number of scheduled jobs, the timeline view has performance issues.

**Describe the solution you'd like**
A paginated grid view of the schedule as alternative to the timeline

[2019-02-09 11:10] #94 closed, assigned to nobody

[2019-02-09 11:16] schmengler opened #95 "Cronjob process monitoring"
**Is your feature request related to a problem? Please describe.**
I want to see if a "running" cronjob is actually still running or has crashed

**Describe the solution you'd like**
- Show process id in grid
- Regularly check if processes are still running, show "last seen" timestamp in grid
- Add "kill" action

[2019-02-09 11:21] schmengler opened #96 "Improve Navigation"
**Is your feature request related to a problem? Please describe.**
It takes several clicks to navigate between the different screens, the navigation is not intuitive

**Describe the solution you'd like**
- Always show "Dashboard", "Timeline" and "Configuration" links
- Rearrange "Flush Jobs", "Run Cron" and "Add Cron" buttons

**Describe alternatives you've considered**
Add multiple items in the "

[2019-02-09 12:10] schmengler opened #97 "Improve UI to enable/disable cronjobs"
**Is your feature request related to a problem? Please describe.**
Currently, cronjobs can be disabled by configuring an empty schedule. This is not obvious.

**Describe the solution you'd like**
Add a column to the grid with red and green "Enabled"/"Disabled". In the form, use a checkbox.

[2019-02-09 12:33] schmengler commented on #95
Working on it!

[2019-02-09 16:19] schmengler commented on #95
Apparently the following was already implemented
- save pid when starting job
- set jobs to "error" if they are "running" but process went away

Still missing:
- Information in the grid: pid, "last seen" (probably not necessary because if it's not seen anymore, status is set to "error")
- "kill" action, e.g. for cronjobs that went into an endless loop

[2019-02-09 16:56] schmengler opened #98 "Make sure to kill processes only on the same host"
**Is your feature request related to a problem? Please describe.**
If cron jobs are distributed on several servers, e.g. by cron group, the check for dead processes can return false positives, resulting in "Process went away" messages.

**Describe the solution you'd like**
Save the hostname together with the pid and filter by pid and hostname. The feature should be optional, because it may cause d

[2019-02-10 13:37] tbaden commented on #97
work in progress.
current state:
 - [ADD] Status(is_active) to grid and cron edit
 - [ADD] new actions enable & disable in grid
todo:
 - write tests
 - handle enabling crons without default frequency

[2019-02-10 23:58] Ethan3600 commented on #95
@schmengler Thank you for opening this issue (and the other ones too!). I'll admit, I struggled on how to implement those two missing features without overriding the ProcessCronQueueObserver. My biggest fear was that we'll need to have code like this to compensate for API changes in core Magento (as Magento continues to grow):

[code]

Maintaining the CJM will be a nightmare if we start overriding

[2019-02-11 07:28] schmengler commented on #95
@Ethan3600 Totally agree, that's also what I disliked about similar modules. Pull request is coming, no overrides!

[2019-02-11 07:53] schmengler commented on #76
FWIW, on Chrome the graph did not load until I scroll down and then wait a few seconds

[2019-02-11 07:58] schmengler opened #101 "Travis cannot check out commits"
**Describe the bug**
Travis builds fail with messages like:
[code]

[2019-02-11 08:12] schmengler opened #103 "Travis fails on Magento 2.3 because AMQP is missing"
**Describe the bug**
Travis builds for Magento 2.3 fail with

[code]

because the default `install-config-mysql.php.dist` file contains AMQP configuration

[2019-02-11 08:33] schmengler opened #105 "Schedule source model is not used in grid"
**Describe the bug**
The job filter in the schedule grid is has the type "text". The existing source model can be used to have a dropdown filter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Cron Job Manager'
2. Click on 'Filters'

**Expected behavior**
Filter by job code shows a dropdown of all jobs

**Additional context**
This may be debatable. Selecting jobs from a dropdown is co

[2019-02-11 08:37] schmengler commented on #96
Another suggestion: Rename menu item from "Cron Job Manager" to "Cronjob Management" for consistency with existing items "Cache Management" and "Index Management"

![image](https://user-images.githubusercontent.com/367320/52552442-8ba0b480-2de0-11e9-9ebd-7c65a3f038dd.png)

[2019-02-11 09:13] schmengler commented on #95
Further possible improvements:
- add "kill_request" column to grid (can be turned off by default) to show when a process kill has been requested
- improved error messages, e.g. when trying to kill a process that is not running
- Try to send SIGINT and wait if it succeeds before sending SIGKILL (as in https://github.com/AOEpeople/Aoe_Scheduler/blob/b1ea97c87dc9e18d3135768e551a4486fbc1b399/app/code/

[2019-02-11 09:19] schmengler opened #107 "Colorize status columns"
**Is your feature request related to a problem? Please describe.**
I want to see quickly which jobs have an error or working status

**Describe the solution you'd like**
Colorize the status column:
- Pending: gray
- Running: yellow
- Success: green
- Missed: ? (something less drastic than red, maybe orange or black)
- Error: red
- Killed: red

**Additional context**
Example of colorized columns fr

[2019-02-16 18:49] Ethan3600 commented on #105
I suppose this is somewhat subjective, but I suppose we can't expect an system admin to know every single cron job code. Better to be explicit and provide all options in the dropdown.

[2019-02-16 21:19] Ethan3600 commented on #76
@schmengler ya it's a bug as a result of a fix for issue https://github.com/Ethan3600/magento2-CronjobManager/issues/50

Basically, we're removing elements (the cron "marks") from the DOM if a cron job's "mark" isn't within the view port (screen/timeline component) and adding them back if the condition is reversed. We're doing this for performance reasons. The check (to see if the "mark" is within

[2019-02-18 14:19] kyriog opened #108 "Avoid saving schedules before actually running them with `runjob`"
For now, when we use `bin/magento cronjobmanager:runjob`, the scheduled task is saved to Magento database before being actually running.
This might cause a race condition in a production environment, if the native cron manager is triggered between schedule creation and schedule actual start from the CLI command.

I'd suggest 3 changes:
* `ScheduleManagement::createSchedule()` should no longer save

[2019-02-18 14:24] kyriog opened #109 "Clean `Processor::runJob()` and `runScheduledJob()`"
The `\EthanYehuda\CronjobManager\Helper\Processor::runJob()` method has 99% the same code of `Processor::runScheduledJob()`.

The only difference between these two methods is when the schedule object is saved:
`runJob()` directly call the `save()` method of the schedule object itself (which is deprecated according to Magento 2 best practices) whereas `runScheduledJob()` runs the `save()` method fr

[2019-02-22 10:01] #105 closed, assigned to nobody

[2019-02-22 10:05] schmengler opened #110 "Drop PHP 7.0 compatibility"
**Is your feature request related to a problem? Please describe.**
PHP 7.0 has reached end of life December 2018 and we should not need to support it any longer

**Describe the solution you'd like**
Remove PHP 7.0 from the build matrix and allow language features from PHP 7.1 like nullable types and constant visibility.

This can be done with a 1.8.0 or 2.0.0 release, depends how conservative our

[2019-03-03 21:54] Ethan3600 commented on #110
Let's drop it. Going to push this for 1.8.0 release.

See commit: https://github.com/Ethan3600/magento2-CronjobManager/commit/f26feaaa89995eb900218040cb7eaa1f5472bd72

[2019-03-17 16:44] #91 closed, assigned to Ethan3600

[2019-03-17 17:18] #96 closed, assigned to nobody

[2019-03-17 17:18] #110 closed, assigned to nobody

[2019-03-17 17:19] #95 closed, assigned to nobody

[2019-03-17 17:19] #19 closed, assigned to nobody

[2019-03-17 17:19] #103 closed, assigned to nobody

[2019-03-17 17:19] #101 closed, assigned to nobody

[2019-03-27 14:58] AndreKlang opened #115 "1.8.0 breaks swagger (2.3.1)"
**Describe the bug**
Swagger breaks with this exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://your.domain/swagger
2. You won't be able to use swagger at all

**See the exception**
1. Go to https://your.domain/rest/all/schema?services=all
2. You should *not* see a stacktrace

**Expected behavior**
You should be able to use swagger to see all endpoints

**Envi

[2019-04-09 01:25] Ethan3600 commented on #115
Please upgrade to v1.8.1.

Going to close this out for now. Feel free to comment if there are still issues.

[2019-04-09 01:25] #115 closed, assigned to nobody

[2019-04-09 01:26] Ethan3600 commented on #107
This was implemented in v1.8.1!

Let me know if there are any issues. Closing for now.

[2019-04-09 01:26] #107 closed, assigned to nobody

[2019-04-16 13:43] schmengler opened #117 "Add CLI command for kill requests"
**Is your feature request related to a problem? Please describe.**
I want to kill specific running jobs via CLI, e.g. the indexer as part of the deployment process

**Describe the solution you'd like**
`bin/console cronmanager:killjob <jobcode>` would kill any running job of `<jobcode>`

**Possible configuration**

A flag could be added to choose between killing directly or sending a kill request

[2019-04-19 13:39] gamort opened #119 "Add Archive Cron Job"
Maintaining a reasonable history view of 3 days of both success and error[how else can you check to see if something has spiked/started to cause problems] will fill up the cron schedule table and make it unusable.

Having an ARCHIVE of cron jobs instead, a duplicate table to record all cron jobs removed from the main table, would provide this history without breaking cron.

The initial implementat

[2019-05-01 16:47] uandiweb opened #120 "Long Tasks Show Error Status & Later Complete Successfully"
I've some tasks that take 30-40 minutes to complete. After ~3 minutes those tasks are marked as error. Later, after the task finishes successfully, it's marked correctly has "Success".

[2019-05-13 06:25] aligent-lturner opened #122 "Invalid Cron Expression reported incorrectly"
**Describe the bug**
The schedule editor does not allow cron expressions containing commas, despite them being valid.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the configuration of an existing cron job.
2. Modify the schedule to `5,15 * * * *` (run at 5 past and 15 past every hour)
3. Attempt to save the schedule.
4. See error

**Expected behavior**
The schedule is updated success

[2019-05-14 11:07] kerlama opened #123 "Bulk delete not working"
**Describe the bug**
If you select all jobs on grid and then click delete only 20 (or which limit you set) will be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cron job Dashboard
2. From dropdown in first column in the grid, click select all
3. From action dropdown select delete

**Expected behavior**
All should be removed but only displayed number will be.

**Environment (

[2019-06-22 17:22] Ethan3600 commented on #123
@kerlama Sorry for late response! Unfortunately, this seems to be a bug that was introduced in Magneto 2.3.1 (as the select all was working perfectly fine on 2.3.0).

Here's an open issue on Magento's github repository: https://github.com/magento/magento2/issues/12594

Going to close this out since this is a Magento bug.

[2019-06-22 17:22] #123 closed, assigned to nobody

[2019-06-22 17:24] Ethan3600 commented on #122
Hi @aligent-lturner, Sorry for the late response. I have to admit, I'm not proud of that validator... It needs to be revisited. Thanks for filing this bug!

[2019-06-22 17:32] Ethan3600 commented on #119
In theory (I say that in a "hand wavy" way) you can just extend the "History lifetimes" for each cron job. I'm not sure a whole table is really something we need to view historical data on cron jobs.

Moreover, we shouldn't make an additional table b/c Magento's Cron system sucks. Yes, it's buggy.. but, new solutions shouldn't revolve around workarounds for open source software bugs.

That aside,

[2019-06-22 17:33] #119 closed, assigned to nobody

[2019-07-05 06:14] schmengler commented on #18
I'm working on this now

[2019-07-08 16:56] schmengler opened #126 "PID is not saved permanently"
**Describe the bug**
The PID is not saved permanently. The reason is that it is set together with the "running" status in an atomic database operation, but not saved in the schedule model. When the job is finished, the schedule model is saved, but now with empty PID value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Job Dashboard
2. See empty values in PID column

**Expected behavi

[2019-07-19 11:08] pushpendra07 opened #128 "Error showing in commands"
**Describe the bug**
Showing error in Magento CLI commands
**To Reproduce**
Steps to reproduce the behavior:
1. Installed plugin by composer and run Magento2 upgrade command

**Expected behavior**
Commands should run without error
**Screenshots**
![AwesomeScreenshot-Screenshot-from-2019-07-19-16-32-04-2019-07-19-16-07-76](https://user-images.githubusercontent.com/8010768/61531093-7db42700-aa43-11e

[2019-07-20 19:44] #117 closed, assigned to nobody

[2019-07-20 19:44] #18 closed, assigned to nobody

[2019-07-20 19:44] #126 closed, assigned to nobody

[2019-07-20 19:48] Ethan3600 commented on #128
@pushpendra07 Thanks for submitting this issue! I can't reproduce this on the latest version of the Cron Job Manager. Can you try upgrading to the latest version (v1.9.0).

[2019-07-21 16:47] sprankhub commented on #18
Thanks a lot @schmengler!

[2019-07-23 08:49] simonrl commented on #128
I can reproduce this on PHP 7.1, Magento 2.2.6, Cronjobmanager 1.9.0

I had a short look at the code, and it actually seems ok to me... so no idea where this error comes from.

To reproduce:
1. composer u --no-dev
2. php bin/magento setup:upgrade
-> does not work, runs into mentioned error
3. rm -r generated/*
4. php bin/magento setup:upgrade
-> still the same error.

All running in developer mode

[2019-07-26 11:57] pushpendra07 commented on #128
@Ethan3600, It's showing same error for latest version

[2019-07-27 18:15] Ethan3600 commented on #128
Ok, I was on Magento version 2.3.1. That's why I didn't see it. Sorry for the mistake.

Good News: I was able to reproduce on Magento version 2.2.6

Bad News: This seems to be a bug in _some versions_ of Magento 2.2.x: https://github.com/magento/magento2/issues/6106

There were more issues opened up for this, and I can't tell which release the fix was merged into.

Anyway, the problem was this:

T

[2019-07-27 18:15] #128 closed, assigned to nobody

[2019-10-09 08:31] sedax90 opened #130 "Add php 7.3 support for Magento 2.3.3"
The new Magento 2.3.3 release officially support php 7.3, but module requirement is locked to 7.2, is it possible to change it?

[2019-10-10 07:42] MellenIO commented on #130
I've created a PR for this #131 since there are no compatibility issues. Let's just hope it gets merged in :)

[2019-10-12 19:00] Ethan3600 commented on #130
Currently in 1.x-develop.

Will be available in the next release

[2019-10-14 07:56] MellenIO commented on #120
@uandiweb are there any messages on the "error" cronjobs?
If you run:
[code]
That query should get you all of the unique errors put in the database.

[2019-10-15 18:01] tylers-username opened #132 "Is the module in the marketplace a rip-off or yours?"
I installed [this](https://marketplace.magento.com/kiwicommerce-module-cron-scheduler.html) before being made aware of this repository here.

It has fewer releases and branding appears to be different. Curious if this is your module?

[2019-10-15 18:09] Ethan3600 commented on #132
I'm getting a 404 on that link to gitlab. Maybe I don't have permission to view it?

But, I can tell you that I've never published anything to gitlab.

[2019-10-16 01:51] tylers-username commented on #132
🤦‍♂️ sorry, meant to link here: https://marketplace.magento.com/kiwicommerce-module-cron-scheduler.html

Original comment updated as well.

[2019-10-16 02:04] Ethan3600 commented on #132
That's not my module. But, I don't think they're trying to rip anyone off.

Thanks for keeping an eye out!

Going to close this.

[2019-10-16 02:04] #132 closed, assigned to nobody

[2019-11-12 02:52] Ethan3600 commented on #130
Sorry for the delay. This is available in the latest release. Going to close, but feel free to comment!

[2019-11-12 02:52] #130 closed, assigned to nobody

[2019-12-21 21:03] hewgim opened #134 "Cron jobs used up 1 million CPU seconds in a few hours"
**Describe the bug**
On two separate development servers, with pretty much a vanilla build of Magento 2.3.3, both servers used up over a million CPU seconds in a few hours hours after running for a few days. One was running in development mode and one in production mode. There were only 30 products and there was no activity at the time apart from cron.

**To Reproduce**
I can't give any informatio

[2019-12-21 21:25] hewgim opened #135 "Scheduler still tries to run jobs for disabled modules"
**Describe the bug**
There are certain situations where the scheduler tries to run jobs for disabled modules. For example I disabled the Yotpo module but in the cron schedule table I can see the error message: No callbacks found for cron job yotpo_yotpo_orders_sync. It only seems to happen if you had previously changed the job frequency of a module that you then disable.

**To Reproduce**
Steps to

[2019-12-21 22:36] Ethan3600 commented on #134
Hi @hewgim thank you for using the CJM!

I'm very familiar with these symptoms, and I've seen them on production and development environments since Magento 2.1.x. I think this has come up a few times already in the issues board, but it's most definitely a Magento bug.

Hopefully they fix this in 2.4.x. Going to close this issue as it is a Magento bug.

Back when I was working at an agency, Magento

[2019-12-21 22:36] #134 closed, assigned to nobody

[2019-12-24 02:31] Ethan3600 commented on #135
This sounds like a bug in either the Yopto module or Magento (my gut says the former).

To test, see if this happens without the CJM manager installed. Going to close this for now. Please feel free to comment if you find anything.

[2019-12-24 02:31] #135 closed, assigned to nobody

[2020-01-31 11:37] Eddcapone opened #136 "Can't find menu in backend"
There is no info on where I can find the menu in the backend. I searched under "System" but found nothing.

[2020-01-31 12:01] Ethan3600 commented on #136
Hi @Eddcapone thanks for using the CJM!

In order to help, can you provide your Magento, PHP, and CJM versions?

[2020-01-31 14:35] Eddcapone commented on #136
Nevermind. I executed `php bin/magento module:status` and got:

[code]

So I just had to enable the module. I was not aware about this, because some modules just work without having to enable them manually.

You should add installation instructions and a screenshot or text showing that we can find the configuration under "System-> Tools -> Cron Job Manager"

[2020-01-31 17:41] Ethan3600 commented on #136
Weird. I've never had to enable it manually. Usually works after setup:upgrade. Agreed, we can always use more docs!

I'm going to go ahead and close this, but thanks for logging this! Please let me know if you experience any issues using the CJM!

[2020-01-31 17:41] #136 closed, assigned to nobody

[2020-03-08 15:43] nishpatel commented on #50
Another less elegant way around this apart from clearing the cron history is patching Magento Core file:
/var/www/html/vendor/magento/framework/View/TemplateEngine/Xhtml/Template.php

amend public function append($content)

to:

    $target = $this->templateNode->ownerDocument;
	$source = new \DOMDocument();
	$source->loadXml($content, LIBXML_PARSEHUGE);

	$this->templateNode->appendChild(
		$targ

[2020-03-20 10:38] fballiano opened #137 "Declaration incompatible"
Hi, I'm upgrading to 1.9.1 (on M2.2.6 CE) but, when running setup:upgrade I get this error:

PHP Fatal error:  Declaration of EthanYehuda\CronjobManager\Api\ScheduleManagementInterface\Proxy::execute(int $scheduleId) must be compatible with EthanYehuda\CronjobManager\Api\ScheduleManagementInterface::execute(int $scheduleId): bool in /Users/fab/Projects/xxxxxxxx/generated/code/EthanYehuda/CronjobMa

[2020-03-20 10:59] fballiano commented on #137
it happens on 1.9.0 and 1.9.1, but doesn't happen on 1.8.1

[2020-03-22 12:55] Ethan3600 commented on #137
Hi @fballiano, thanks for reporting this issue. What version of PHP are you using? Have you tried this on later versions of Magento 2.2.x?

[2020-03-22 13:23] fballiano commented on #137
It's a 7.1.something cause M2.2 can't run on more modern version sadly.

At the moment I can't try on 2.2.11 cause it's a production store so we can't really update it quickly (we have staging/dev environments but..)

[2020-04-01 13:40] designerdgr commented on #137
Just installed the extension on M2.2.4 and i get the same error on setup:upgrade

[2020-05-08 05:10] aligent-lturner commented on #98
This is a big issue on Magento cloud, where cron jobs are distributed across servers and you have no control over which one the job is run on (and which one is queried later).

An alternative would be to use the option that disables the check, but then you run the risk of blockages.

[2020-05-12 09:19] bzneil opened #140 "Invalid security or form key. Please refresh the page."
Hi,
I've just installed on Magento 2.3.4, if I navigate to System>Tools>Cron Jib Manager it takes me backto admin dashboard with the message
Invalid security or form key. Please refresh the page.

Any ideas? I've refreshed the cache, issue still persists. Thanks

[2020-05-12 10:12] Ethan3600 commented on #140
I'd check if this is happening elsewhere. This doesn't seem like a CJM issue at face value.

[2020-05-12 11:30] bzneil commented on #140
Thanks, generated classes again, cleared cache and loads ok now

[2020-05-12 11:30] #140 closed, assigned to nobody

[2020-05-12 11:32] bzneil opened #141 "Argument should be array, boolean given"
When I try to load job configuration page I get this:

Argument 1 passed to EthanYehuda\CronjobManager\Helper\JobConfig::sanitizeJobConfig() must be of the type array, boolean given, called in vendor/ethanyehuda/magento2-cronjobmanager/Ui/Component/Listing/DataProviders/Cronjobmanager/Config/Grid.php on line 156

Any ideas?

[2020-05-12 11:46] Ethan3600 commented on #141
That's a new one @bzneil good catch. Can you give me a little more information as to how to reproduce this? Magento version, php version, steps to reproduce, etc. Are you running this locally?

[2020-05-12 12:09] bzneil commented on #141
Running on a hosted server,
Magento 2.3.4, PHP Version 7.2.27
Steps to reproduce:
Navigate to System>Tools>Cron Job Manager.
Dashboard, timeline, system configurations appear to load fine. But clicking on 'Job Configuration' provides the error

[2020-05-12 12:43] Ethan3600 commented on #141
I bet Magento switched their API.

In here: https://github.com/Ethan3600/magento2-CronjobManager/blob/1.x/Ui/Component/Listing/DataProviders/Cronjobmanager/Config/Grid.php#L156 we rely on a $job to be an associative array, but it gave us a boolean (based on the error).

So, it looks like `$jobs = $this->manager->getCronJobs()` (which calls Magento's internal API for grabbing cron jobs underneath t

[2020-05-12 22:00] fredden commented on #137
This looks like the same issue reported in #128. There it's mentioned that this is a bug in Magento versions 2.2.x, fixed from (at least) 2.2.9 onward - see https://github.com/Ethan3600/magento2-CronjobManager/issues/128#issuecomment-515703542.

We have encountered this bug with a site we recently inherited on v2.2.2. We applied the following via [`composer-patches`](https://github.com/cweagans/co

[2020-05-16 19:36] fredden commented on #120
This sounds like the same issue as #98. Can you confirm if you are running Magento cron distributed across multiple hosts/servers?

[2020-05-18 18:49] subbu1993 opened #148 "Requested URL not found when using a cron expression with a slash and hitting the Save and Continue Edit"
**Describe the bug**
When you edit a job configuration, if you set the cron expression to a value with a slash `/` and hit **Save and Continue** it leads to a 404

**To Reproduce**
Steps to reproduce the behavior:
1. System > Cron Job Manger > Job Configuration > Select any job
2. Set the cron expression to something with a slash like `*/5 * * * *`
3. Click **Save and Continue**
4. See a 404

**Ex

[2020-05-18 19:18] subbu1993 commented on #148
This happens only on one of my environments - I am going to close this

[2020-05-18 19:18] #148 closed, assigned to nobody

[2020-06-06 20:28] #98 closed, assigned to nobody

[2020-06-19 15:22] choussamaster commented on #122
Hi any news about this validator ?

[2020-07-24 10:53] tdorchak opened #151 "Edit Cron Group of Individual Job"
It would be great to have the ability to move a job to another cron group the same way you can edit an individual cron's schedule. Many 3rd party modules carelessly add their long running crons to the default or index group resulting in important lightweight jobs getting missed. Magento doesn't seem to have a clean way to move jobs to other groups so adding this feature would be a huge win in my o

[2020-07-28 00:45] kirkmadera opened #152 "Magento 2.4 support"
We are working in 2.4 for current and future projects and had to fork this repo to get this module in. Would love to see 2.4 support.

**Describe the solution you'd like**
We have installed this locally on a 2.4 instance and don't see any issues. To add support, it's likely as simple as adding `~104.0.0` to the `magento/framework` requirement.

**Describe alternatives you've considered**
Another o

[2020-07-29 15:29] SAN1TAR1UM commented on #152
I second this request, I love this module but I need it to work with 2.4

[2020-08-03 08:30] gaiterjones commented on #152
I third this request. Please update the repo for framework 104 compatibility in composer.

[2020-08-24 08:03] boehsermoe commented on #152
The PR still open... 😞  some other solutions to install it?

[2020-08-24 11:56] kirkmadera commented on #152
In the immediate, you can clone from https://github.com/rmgmedia/magento2-CronjobManager. It's a very short-term solution as I don't plan to maintain this for updates. You can also fork it yourself and apply this change.

[2020-08-24 12:04] Ethan3600 commented on #152
Sorry for the late response. Been out of commission for a bit :disappointed: I'll get a release out ASAP.

[2020-09-04 13:54] seansan commented on #152
Is there a release date for M2.4 support?

Can we also imply php 7.4 support then?

SUPER WORK thx

[2020-10-09 09:17] norgeindian opened #156 "Dashboard entries don't show any information"
**Describe the bug**
When opening the cronjob dashboard there are entries like expected. But instead of showing actual information, the columns are more or less empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to System -> Tools -> Cron Job Manager

**Expected behavior**
I would expect to see the cronjob dashboard with filled entries.

**Screenshots**
![image](https://user-images.gi

[2020-10-11 17:09] Ethan3600 commented on #156
Hello @norgeindian I just made a new release (v1.11.2), which should have the fix and tested it. Give this another whirl after an upgrade.

I'll close this for now, but if there are any issues, please feel free to comment and I'll open this issue again!

[2020-10-11 17:09] #156 closed, assigned to nobody

[2020-10-11 17:12] Ethan3600 commented on #152
Hello friends!

We should be good to go in the latest release (v1.11.2).

I'll close this issue for now, but if anyone experiences any issues regarding 2.4 support, please feel free to log another bug or comment here!

[2020-10-11 17:12] #152 closed, assigned to nobody

[2020-10-14 01:27] Ethan3600 opened #157 "Assets"

[2020-10-14 01:27] #157 closed, assigned to nobody

[2020-11-05 14:03] berkanduzgun opened #159 "Component\Filters class replaces the original one with missing values"
Magento added a new item to the filterMap array with 2.4.1:

'datetimeRange' => 'filterDate'

\EthanYehuda\CronjobManager\Ui\Component\Filters misses the new value. This causes a compatibility issue.

I'm preparing a pull request.

[2021-01-13 10:00] t-heuser opened #165 "Add "Job-Code" to Filter in Adminhtml"
At the moment the column "Job-Code" is not available for filtering in the Adminhtml in the Cron Job Dashboard.

Does this have any particular reason or was it just not added?

I'd like to be able to filter with the Job-Code field.

[2021-01-21 08:07] t-heuser commented on #165
I'm dump, it's already there. Sorry.

[2021-01-21 08:07] #165 closed, assigned to nobody

[2021-01-28 07:47] t-heuser opened #166 "SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock."
**Describe the bug**
I'm getting a random Serialization failure which gets thrown by this extension. It happened at night without anyone being on the system.
All information about the error can be found in the sentry error here: https://api.npoint.io/8b091f6126a77dad815f

**To Reproduce**
Steps to reproduce the behavior:
Let cronjobs run.

**Expected behavior**
No Deadlock occurs.

**Environment (

[2021-01-30 08:43] fredden commented on #159
Fixed in #160

[2021-03-23 16:20] maderlock commented on #151
Oh my goodness, 1000% this

[2021-07-21 08:35] mobweb opened #168 "Get the ID of the admin user that scheduled the currently running job?"
For M1 we've been using https://github.com/AOEpeople/Aoe_Scheduler. Your extension has proven to be a wonderful successor for us to use in M2.

However, there is one requirement we haven't been able to solve yet.

When a method is run, we'd like to be able to check if it has been executed by a cron job. If yes, we'd like to get the admin user ID of the admin user that initially scheduled the job.

[2021-07-21 08:49] fredden commented on #168
This sounds like it should be a feature of the module doing the export. (eg, set notification email address(es) when requesting the export. This way the module can detect the result (success/failure) and report a suitable message to the waiting human (eg, link to download; error message, duration, report type/title/summary of content).)

[2021-07-21 08:52] mobweb commented on #168
Thanks for your response @fredden, but how would you suggest we trigger the notification? Let's assume that our custom cron job executes a method called "exportOrders". Near the bottom of "exportOrders", we'd ideally have some code which determines:

- if the current execution of "exportOrders" was triggered by a cron job
- if yes, get a reference to that cron job
- ideally, get the "scheduled_by"

[2021-07-21 09:02] fredden commented on #168
Where you record what the job should do (ie, what to export), also record who asked for it / notification address(es). Then whenever your scheduled task runs it will have access to this information (what to export, whom to notify).

[2021-07-21 09:06] mobweb commented on #168
I don't think this is currently possible? Or is there a way for me to get information about the cron job that triggered the execution of the currently running method somehow?

EDIT: To clarify: Assuming that there will only ever be one scheduled export at the time, we could ofcourse just store the details (email address) of the admin person that scheduled the export (for example in a newly created

[2021-07-21 21:24] fredden commented on #168
If I've understood correctly, this module has a feature to export orders. Which orders to export (eg, what (relative to run time) date range to export, statuses to include/exclude) is stored globally (probably in store configuration) not per-export/run. There's a cronjob that runs the export process. This cronjob isn't run on a time-based schedule, but is instead run whenever a human decides by ad

[2021-07-22 03:07] mobweb commented on #168
Thanks for your feedback @fredden.

The order export was just one (simplified) example for many scenarios in which we are using the current implementation of the extension I mentioned in the OP to get a reference to the currently running cron job when a method is executed, and also get a reference to the admin user that scheduled the execution of the cron job.

The way we are handling it right now

[2022-03-24 15:05] AdamC3Media opened #171 "Compatible with PHP 8.1"
Hi,

Will your module be compatible with PHP 8.1 in the near future? I'm trying to update my client to 2.4.4 on PHP 8.1, but the latest version available is 7.4

Kind regards.

Adam

[2022-04-14 12:25] mamsincl commented on #171
Oy, @Ethan3600

any info on this, please?

Thanks,
R.

[2022-04-16 16:59] Ethan3600 commented on #171
We have a PR open: https://github.com/Ethan3600/magento2-CronjobManager/pull/172

Added a comment, but I think we'll make a release soon

[2022-04-16 17:11] #171 closed, assigned to nobody

[2022-04-20 11:23] davekleijn opened #176 "PHP 8.1: Deprecated Functionality: Optional parameter $jobId declared before required parameter $jobCode"
**Describe the bug**
Currently I am upgrading to Magento 2.4.4. When running `bin/magento setup:di:compile` I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable production mode
2. Run `bin/magento setup:di:compile`

**Expected behavior**
Di is compiled successfully

**Environment (please complete the following information):**
 - OS: Debian GNU/Linux 10 (b

[2022-04-23 21:55] #176 closed, assigned to nobody

[2022-06-17 13:09] ssstankiewicz opened #183 "PHP 8.1 | Deprecated Functionality: Function strftime() is deprecated..."
After updating magento to 2.4.4 and PHP to 8.1, the module is unusable. When trying to run from the admin panel of the action 'Dispatch' or using the command 'cronmanager: runjob', errors related to 'Deprecated functionality' appear.

This function is used several times in the module.

**Environment**
 - Cron Job Manager Version 1.3.1
 - Magento Version 2.4.4
 - PHP Version 8.1

[2022-06-17 13:42] fredden commented on #183
When I run `phpcs -p . --standard=PHPCompatibility --runtime-set testVersion 8.1` on this repository, no errors are reported.

I've tested this just now and can see that `strftime()` has been deprecated. I'll look to remove its usage in the module.

[2022-06-17 13:44] fredden commented on #183
It looks like the compatibility checker tool has been updated here to include this deprecation, but no new version has been released yet. https://github.com/PHPCompatibility/PHPCompatibility/pull/1321

[2022-06-17 14:08] fredden commented on #183
Thanks for your report @ssstankiewicz. I've fixed this in #184.

[2022-06-20 06:46] ssstankiewicz commented on #183
Thanks @fredden Do you plan to merge it into main branch?

[2022-06-20 06:53] fredden commented on #183
I don't have permission on GitHub to do that. We'll need to wait for @Ethan3600.

Meanwhile, one can apply the patch with `cweagans/composer-patches` or similar.

[2022-06-21 06:17] ssstankiewicz commented on #183
Okay, thanks.

[2022-07-28 17:24] mamsincl commented on #183
+1 please

[2022-07-31 16:38] #183 closed, assigned to nobody

[2022-07-31 16:48] Ethan3600 commented on #183
Just pushed out a new [release](https://github.com/Ethan3600/magento2-CronjobManager/releases/tag/v1.13.2) . I know I've been late to the party... I think I need help maintaining this project. I don't know what the avenue is to ask for help 😞

[2022-08-03 16:06] mamsincl commented on #183
like you did :D

I am happy spending some time helping you out

[2022-08-29 18:23] fredden commented on #183
I can help out too if you'd like.

[2022-10-17 05:09] mvenghaus opened #186 "Magento 2.4.5 - Status Column (html.js) not working"
**Describe the bug**
The status column in the listing grid doesn't work with magento 2.4.5.

[ERROR] Failed to load the "ui/grid/cells/html" template requested by "cronjobmanager_manage_grid.cronjobmanager_manage_grid.cronjobmanager_manage_columns.status".

**To Reproduce**
1. open grid in admin

**Expected behavior**
status column should show rendered status html

**Environment (please complete t

[2022-10-17 08:20] fredden commented on #186
This is fixed in https://github.com/Ethan3600/magento2-CronjobManager/pull/179.